body {
    text-align: center;
    background-color: blueviolet;
    font: normal 18pt arial;
    color: white;
}

input {
    width: 200px;
    height: 30px;
}

#res {
    margin: 40px 0;
}

#button {
    cursor: pointer;
    width: 80px;
}